.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;

  border: 1px solid #e2e2e2;
  background: #fbfbfc;

  border-radius: 16px;

  padding: 28px 34px;
  margin: 24px 0 0 0;
}
