.custom-datepicker .react-datepicker__time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-datepicker__time {
  flex: 1;
  display: flex;
  justify-content: center;
}

.react-datepicker__time-box {
  align-self: center;
}
