@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "~@toast-ui/editor/dist/toastui-editor.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css 또는 해당 프로젝트의 CSS 파일 내에 이를 추가 */
.text-gradient {
  background: linear-gradient(to right, #ff555e, #7849ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-plan {
  background: linear-gradient(to right, #f2000f 10%, #f2500f 30%, #4000ee 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-unsubscribed {
  background: linear-gradient(to right, #666666 0%, #939393 35%, #303030 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.shadow-inner-thick {
  box-shadow: inset 0 0 20px 0px rgb(0 0 0 / 0.05);
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, "Helvetica Neue", Roboto, "Noto Sans KR",
    "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;

  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}
