.container {
  display: flex;
  width: 100%;
  padding: 20px 20px 40px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;

  border-radius: 16px;
  border: 1px solid #e2e2e2;
  background: #fbfbfc;
}

.title {
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
}

.itemsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 24px 48px;
  width: 100%;
}
