.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.title {
  border-radius: 500px;
  border: 1px solid #ff5e3a;
  background: #fff;

  color: #ff5e3a;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  padding: 8px 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: fit-content;
}

.chartContainer {
  display: flex;
  position: relative;

  margin: 27px 0 0 0;
}

.scoreContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  bottom: 13px;
}

.score {
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.scoreLabel {
  color: #9c9c9c;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
}
